
.side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    color: #87888C;
    background-color: #171821;
    font-size: 13px;
    width:auto;
    padding: 0px 20px 0px 20px;

}

.side-items{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.link{
    text-decoration: none;
    color: #87888C;
}