.search{
    margin: 15px 0px 15px 0px;
    width: 100%;
    height: 40px;
}

.bar-search{
    width: 100%;
    height: 100%;
    background-color: #21222D;
    border: 0px;
    color: aliceblue;
    border-radius: 10px;
    padding-left: 10px;
    /* margin: 0px;
    padding: 0px; */
}

