.products{
    display: grid;
    grid-template-rows: 1fr 9fr ;
    background-color: #21222D;
    padding: 10px;
    

}

.Products-main{
    display: flex;
    justify-content: space-between;
}

.Products-container{
    display: grid;
    grid-template-rows: 1fr 20fr;
}

.products-header{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: #7d7d7d;

}

.products-list{
    display: flex;
    flex-direction: column;
    gap:10px;

}

.products-indi{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);

}

.product-button{
    margin: 0.67em;
}

.product-Link{
    background-color: #3b3d51;
    width: fit-content;
    height: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    /* display: grid; */
    /* align-items: center; */
}

.product-Link :hover{
    /* border: 1px solid red; */
    width: fit-content;
    height: 100%;

    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    /* background-color: #A9DFD8; */
  /* border: 1px solid #A9DFD8; */
  /* color: #171821; */

}